In [1]:
import pandas as pd

In [2]:
purchase_data="purchase_data.csv"
purchase_data = pd.read_csv(purchase_data)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

# Player Count

- Total Number of Players

In [3]:
PlayerCount = purchase_data["SN"].nunique()
TotalNumberofPlayers = {'Total Number of Players':[PlayerCount]}
TotalNumberofPlayers = pd.DataFrame(TotalNumberofPlayers) 
TotalNumberofPlayers

   Total Number of Players
0                      576

# Purchasing Analysis (Total)
- Number of Unique Items
- Average Purchase Price
- Total Number of Purchases
- Total Revenue

In [4]:
Numberofuniqueitems = purchase_data["Item ID"].nunique()
Purchasemeandf = purchase_data.groupby(["Item ID"]).mean()
AveragePurchasePrice = Purchasemeandf["Price"].mean()
NumberofPurchases = purchase_data["Purchase ID"].nunique()
Purchasesumdf = purchase_data.groupby(["Item ID"]).sum()
TotalRevenue = Purchasesumdf["Price"].sum()
PurchasingAnalysis = {'Number of Unique Items':[Numberofuniqueitems],'Average Purchase Price':[AveragePurchasePrice],'Total Number of Purchases': [NumberofPurchases], 'Total Revenue': [TotalRevenue]}
PurchasingAnalysis = pd.DataFrame(PurchasingAnalysis)
PurchasingAnalysis
PurchasingAnalysis.style.format({"Average Purchase Price": "${:20,.2f}", 
                          "Total Revenue": "${:20,.0f}"})

# Gender Demographics

- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [13]:
Perc = purchase_data.loc[:, ['SN', 'Gender']]
Perc = Perc.drop_duplicates()
PercPerc = Perc['Gender'].value_counts(normalize=True)
PercPerc=PercPerc.to_frame('Percentage')
PercTotal = Perc['Gender'].value_counts(ascending=True)
PercTotal=PercTotal.to_frame('Total Count')
Perccomb= pd.merge(PercPerc, PercTotal, on="Gender")
Perc=Perc.to_frame('Gender')
PercPerc

AttributeError: 'DataFrame' object has no attribute 'idx'