In [1]:
import pandas as pd

In [2]:
purchase_data="purchase_data.csv"
purchase_data = pd.read_csv(purchase_data)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

# Player Count

- Total Number of Players

In [3]:
PlayerCount = purchase_data["SN"].nunique()
TotalNumberofPlayers = {'Total Number of Players':[PlayerCount]}
TotalNumberofPlayers = pd.DataFrame(TotalNumberofPlayers) 
TotalNumberofPlayers

   Total Number of Players
0                      576

# Purchasing Analysis (Total)
- Number of Unique Items
- Average Purchase Price
- Total Number of Purchases
- Total Revenue

In [4]:
Numberofuniqueitems = purchase_data["Item ID"].nunique()
Purchasemeandf = purchase_data.groupby(["Item ID"]).mean()
AveragePurchasePrice = Purchasemeandf["Price"].mean()
NumberofPurchases = purchase_data["Purchase ID"].nunique()
Purchasesumdf = purchase_data.groupby(["Item ID"]).sum()
TotalRevenue = Purchasesumdf["Price"].sum()
PurchasingAnalysis = {'Number of Unique Items':[Numberofuniqueitems],'Average Purchase Price':[AveragePurchasePrice],'Total Number of Purchases': [NumberofPurchases], 'Total Revenue': [TotalRevenue]}
PurchasingAnalysis = pd.DataFrame(PurchasingAnalysis)
PurchasingAnalysis
PurchasingAnalysis.style.format({"Average Purchase Price": "${:20,.2f}", 
                          "Total Revenue": "${:20,.0f}"})

# Gender Demographics

- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [5]:
Perc = purchase_data.loc[:, ['SN', 'Gender', 'Age']]
Perc = Perc.drop_duplicates()

PercPerc = Perc['Gender'].value_counts(normalize=True)
PercPerc=PercPerc.to_frame('Percentage')
PercPerc.index.name = 'Gender'
PercPerc
PercTotal = Perc['Gender'].value_counts(ascending=True)
PercTotal=PercTotal.to_frame('Total Count')
PercTotal.index.name = 'Gender'


mergedDf = PercTotal.merge(PercPerc, left_index=True, right_on='Gender')
format_dict = {'Percentage': '{:.2%}'}
mergedDf = mergedDf.style.format(format_dict)

mergedDf
# Style at the end#

# Purchasing Analysis (Gender)

- The below each broken by gender

- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Gender

In [15]:
purchasecount = purchase_data.groupby(["Gender"])["Price"].count()
purchasecount.index.name = 'Gender'
purchasecount.to_frame('Purchase Count')

averagepurchaseprice = purchase_data.groupby(["Gender"])["Price"].mean()
averagepurchaseprice.index.name = 'Gender'
averagepurchaseprice.to_frame('Averge Purchase Price')


totalpurchasevalue = purchase_data.groupby(["Gender"])["Price"].sum()
totalpurchasevalue.index.name = 'Gender'
totalpurchasevalue.to_frame('Total Purchase Value')

Total_Gender_Purchase_Value = purchase_data.groupby(["Gender"])["Price"].sum().rename("Total Purchase Value")
Average_Purchase_Total_PG = Total_Gender_Purchase_Value / PercTotal["Total Count"]
Gender_Purchasing_AnalysisDF = pd.DataFrame({"Purchase Count": purchasecount,
                                            "Average Purchase Price": averagepurchaseprice,
                                            "Total Purchase Value": totalpurchasevalue,
                                            "Average Total Purchase Per Person" : Average_Purchase_Total_PG})

Gender_Purchasing_AnalysisDF

Gender_Purchasing_AnalysisDF.style.format({"Average Purchase Price": "${:20,.2f}", "Total Purchase Value": "${:20,.0f}","Average Total Purchase Per Person": "${:20,.2f}"})

# Age Demographics
 
- Establish bins for ages


- Categorize the existing players using the age bins. Hint: use pd.cut()


- Calculate the numbers and percentages by age group


- Create a summary data frame to hold the results


- Optional: round the percentage column to two decimal points


- Display Age Demographics Table

In [7]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

Agedem = purchase_data.loc[:, ['SN', 'Gender', 'Age']]

Agedem = Perc.drop_duplicates()

Agedem["Age Ranges"] = pd.cut(Agedem["Age"], bins, labels = bin_labels)

AgeDemographics = Agedem.groupby(["Age Ranges"])["Gender"].count()
AgeDemographics.to_frame('Total Count')

Age_Demographics_Percents = AgeDemographics / PlayerCount
Age_Demographics_Percents.to_frame('Percentage of Players')

Age_Demographics_Merged = pd.DataFrame({"Total Count": AgeDemographics,
                                            "Percentage of Players": Age_Demographics_Percents})
format_dict = {'Percentage of Players': '{:.2%}'}
Age_Demographics_Merged = Age_Demographics_Merged.style.format(format_dict)

Age_Demographics_Merged

# Purchasing Analysis (Age)
 
- Bin the purchase_data data frame by age


- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


- Create a summary data frame to hold the results


- Optional: give the displayed data cleaner formatting


- Display the summary data frame

In [37]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_data

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels = bin_labels)
PA = purchase_data.loc[:, ['Price', 'Age Ranges', 'SN','Purchase ID','Gender']]

PC = PA.groupby(["Age Ranges"])["Price"].count()
PC.to_frame('Purchase Count')

APP = PA.groupby(["Age Ranges"])["Price"].mean()
APP.to_frame('Average Purchase Price')

TPV = PA.groupby(["Age Ranges"])["Price"].sum()
TPV.to_frame('Total Purchase Value')

# AT = purchase_data.drop_duplicates()
# AT = AT['Age Ranges'].value_counts(ascending=True)
# AT=AT.to_frame('Total Count')
# AT

# # ATPP = TPV / AT["Total Count"]

# # ATPP

PAMerged = pd.DataFrame({"Purchase Count": PC,"Average Purchase Price": APP, "Total Purchase Value":TPV})
PAMerged

            Purchase Count  Average Purchase Price  Total Purchase Value
Age Ranges
<10                     23                3.353478                 77.13
10-14                   28                2.956429                 82.78
15-19                  136                3.035956                412.89
20-24                  365                3.052219               1114.06
25-29                  101                2.900990                293.00
30-34                   73                2.931507                214.00
35-39                   41                3.601707                147.67
40+                     13                2.941538                 38.24

# Top Spenders
 
- Run basic calculations to obtain the results in the table below


- Create a summary data frame to hold the results


- Sort the total purchase value column in descending order


- Optional: give the displayed data cleaner formatting


- Display a preview of the summary data frame

In [85]:
TPV = purchase_data.groupby(["SN"])["Price"].sum()
TPV = TPV.sort_values(ascending=False)
TPV.head(5).to_frame('Total Purchase Value')


TSTPV =purchase_data.groupby(["SN"])["Price"].count()
TSTPV.to_frame('Purchase Count')


TSAPP = purchase_data.groupby(["SN"])["Price"].mean()
TSAPP.to_frame('Average Purchase Price')

TSMerged = pd.DataFrame({"Total Purchase Value": TPV,"Purchase Count": TSTPV, "Average Purchase Price":TSAPP})
TSMerged = TSMerged.sort_values('Total Purchase Value',ascending=False)

TSMerged.head(5).style.format({"Average Purchase Price": "${:20,.2f}", 
                          "Total Purchase Value": "${:20,.2f}"})

# Most Popular Items
 
- Retrieve the Item ID, Item Name, and Item Price columns


- Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


- Create a summary data frame to hold the results


- Sort the purchase count column in descending order


- Optional: give the displayed data cleaner formatting


- Display a preview of the summary data frame

In [120]:
MostPopularItems = purchase_data.loc[:, ['Item ID', 'Item Name', 'Price']]


MPP = MostPopularItems.groupby(["Item ID", "Item Name","Price"])["Price"].sum()
MPP.to_frame('Total Purchase Value')

MPPC =MostPopularItems.groupby(["Item ID", "Item Name","Price"])["Price"].count()
MPPC.to_frame('Purchase Count')

MPMerged = pd.DataFrame({"Purchase Count": MPPC,"Total Purchase Value": MPP})
MPMerged = MPMerged.sort_values('Total Purchase Value',ascending=False)


MPMerged.head(5).style.format({"Price": "${:20,.0f}", 
                          "Total Purchase Value": "${:20,.2f}"})

# Most Profitable Items
 
- Sort the above table by total purchase value in descending order


- Optional: give the displayed data cleaner formatting


- Display a preview of the data frame

In [122]:
MPMerged = pd.DataFrame({"Purchase Count": MPPC,"Total Purchase Value": MPP})
MPMerged = MPMerged.sort_values('Total Purchase Value',ascending=False)
MPMerged.head(5).style.format({"Price": "${:20,.0f}", 
                          "Total Purchase Value": "${:20,.2f}"})